a{
  text-decoration: none;
  color: #f2fa0e;
}
.categoryBlock {
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;


  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fceabb+0,fccd4d+32,f8b500+71,fbdf93+100 */
  background: rgb(252,234,187); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(252,234,187,1) 0%, rgba(252,205,77,1) 32%, rgba(248,181,0,1) 71%, rgba(251,223,147,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 32%,rgba(248,181,0,1) 71%,rgba(251,223,147,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 32%,rgba(248,181,0,1) 71%,rgba(251,223,147,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
}

.categoryBlock a {
  font-size: 20px;
  font-weight: 600;
  color: #980900;
  text-decoration: none;
}

.categoryBlock a[class='active'] {
  color: #2018b8;
  font-weight: 600;
  text-shadow: 10px 9px 6px #b41d1d, 3px 3px 6px #17b00a, 3px 3px 6px #bd0d06;
}

.categoryBlock div {
  padding: 5px 15px;

}
.categoryBlock div:hover {
  padding: 5px 15px;
  border-radius: 15px;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffb76b+0,ffa73d+28,ff7c00+61,ff7f04+100 */
  background: rgb(255,183,107); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(255,183,107,1) 0%, rgba(255,167,61,1) 28%, rgba(255,124,0,1) 61%, rgba(255,127,4,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  rgba(255,183,107,1) 0%,rgba(255,167,61,1) 28%,rgba(255,124,0,1) 61%,rgba(255,127,4,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  rgba(255,183,107,1) 0%,rgba(255,167,61,1) 28%,rgba(255,124,0,1) 61%,rgba(255,127,4,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
