/*.login {*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*  justify-content: center;*/
/*  align-items: center;*/

/*  padding: 10px;*/
/*  width: 450px;*/
/*  height: 300px;*/
/*  !* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#efc5ca+0,d24b5a+24,ba2737+51,f18e99+100 *!*/
/*  background: rgb(206, 220, 231); !* Old browsers *!*/
/*  background: -moz-linear-gradient(top, rgba(206, 220, 231, 1) 0%, rgba(89, 106, 114, 1) 100%); !* FF3.6-15 *!*/
/*  background: -webkit-linear-gradient(top, rgba(206, 220, 231, 1) 0%, rgba(89, 106, 114, 1) 100%); !* Chrome10-25,Safari5.1-6 *!*/
/*  background: linear-gradient(to bottom, rgba(206, 220, 231, 1) 0%, rgba(89, 106, 114, 1) 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
/*  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cedce7', endColorstr='#596a72', GradientType=0); !* IE6-9 *!*/
/*  color: #0e1b7e;*/
/*  border-radius: 15px;*/
/*}*/

/*.container {*/
/*  height: 94vh;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/

/*.login form, .login input {*/
/*  margin: 5px;*/
/*  font-size: 30px;*/
/*  font-weight: bold;*/
/*  font-family: "Courier, monospace", cursive;*/
/*}*/

/*.login-button {*/
/*  text-align: center;*/
/*  width: 200px;*/
/*  font-size: 16px;*/
/*  font-weight: 600;*/
/*  color: #fff;*/
/*  cursor: pointer;*/
/*  margin: 20px;*/
/*  height: 55px;*/
/*  border: none;*/
/*  background-size: 300% 100%;*/

/*  border-radius: 50px;*/
/*  moz-transition: all .4s ease-in-out;*/
/*  -o-transition: all .4s ease-in-out;*/
/*  -webkit-transition: all .4s ease-in-out;*/
/*  transition: all .4s ease-in-out;*/
/*}*/

/*.login-button:hover {*/
/*  background-position: 100% 0;*/
/*  moz-transition: all .4s ease-in-out;*/
/*  -o-transition: all .4s ease-in-out;*/
/*  -webkit-transition: all .4s ease-in-out;*/
/*  transition: all .4s ease-in-out;*/
/*}*/

/*.login-button:focus {*/
/*  outline: none;*/
/*}*/

/*.login-button {*/
/*  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);*/
/*  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);*/
/*}*/



.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.screen {
  background: linear-gradient(90deg, #5D54A4, #7C78B8);
  position: relative;
  height: 600px;
  width: 360px;
  box-shadow: 0 0 24px #5C5696;
}

.screen__content {
  z-index: 1;
  position: relative;
  height: 100%;
}

.screen__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.screen__background__shape {
  transform: rotate(45deg);
  position: absolute;
}

.screen__background__shape1 {
  height: 520px;
  width: 520px;
  background: #FFF;
  top: -50px;
  right: 120px;
  border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
  height: 220px;
  width: 220px;
  background: #6C63AC;
  top: -172px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape3 {
  height: 540px;
  width: 190px;
  background: linear-gradient(270deg, #5D54A4, #6A679E);
  top: -24px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape4 {
  height: 400px;
  width: 200px;
  background: #7E7BB9;
  top: 420px;
  right: 50px;
  border-radius: 60px;
}

.login {
  width: 320px;
  padding: 156px 30px 30px 30px;
}

.login__field {
  padding: 20px 0;
  position: relative;
}

.login__icon {
  position: absolute;
  top: 30px;
  color: #7875B5;
}

.login__input {
  border: none;
  border-bottom: 2px solid #D1D1D4;
  background: none;
  padding: 10px 10px 10px 24px;
  font-weight: 700;
  width: 75%;
  transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
  outline: none;
  border-bottom-color: #6A679E;
}

.login__submit {
  background: #fff;
  font-size: 14px;
  margin-top: 30px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #D4D3E8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;
  color: #4C489D;
  box-shadow: 0 2px 2px #5C5696;
  cursor: pointer;
  transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
  border-color: #6A679E;
  outline: none;
}

.button__icon {
  font-size: 24px;
  margin-left: auto;
  color: #7875B5;
}

.social-login {
  position: absolute;
  height: 140px;
  width: 160px;
  text-align: center;
  bottom: 0;
  right: 0;
  color: #fff;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-login__icon {
  padding: 20px 10px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 8px #7875B5;
}

.social-login__icon:hover {
  transform: scale(1.5);
}
