<div class="block_form">
  <form [formGroup]="form">
    <div><label>Name: <input type="text" formControlName="name"></label></div>
    <div><label>Price: <input type="text" formControlName="price"></label></div>
    <div><label>Stock: <input type="text" formControlName="stock"></label></div>
    <!--    <div><label>Image: <img [src]="imageSrc" *ngIf="imageSrc" style="height: 300px; width:500px"></label></div>-->
    <div>
      <label>Category:
        <select formControlName="category">
          <option value="{{category.id}}" *ngFor="let category of allCategories">{{category.name}}</option>
        </select></label></div>


    <div><label>Description: <input type="text" formControlName="description"></label></div>
    <div class="form_button">
      <button (click)="save()">{{!productForUpdate?.id ? 'save' : 'update'}}</button>
    </div>
  </form>
</div>
